" turn off folding in python-mode
let g:pymode_folding=0
" only allow auto-complete (default will enable docs preview also)¬
" set completeopt=
let g:pymode_rope=0

" configure sorting of imports
let g:vim_isort_python_version = 'python3'
" turn off folding in python-mode

" Start interactive EasyAlign in visual mode (e.g. vipga)
xmap ga <Plug>(EasyAlign)

" Start interactive EasyAlign for a motion/text object (e.g. gaip)
nmap ga <Plug>(EasyAlign)

" Select colorscheme
colorscheme deus
highlight ColorColumn ctermbg=DarkGrey
highlight Cursor guifg=NONE guibg=DarkRed
highlight ExtraWhitespace ctermbg=DarkRed
match ExtraWhitespace /\s\+$/

" ultisnip configuration
" Trigger configuration. Do not use <tab> if you use https://github.com/Valloric/YouCompleteMe.
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsJumpForwardTrigger="<c-j>"
let g:UltiSnipsJumpBackwardTrigger="<c-k>"

" If you want :UltiSnipsEdit to split your window.
let g:UltiSnipsEditSplit="vertical"

" Airline configuration {{{
    let g:airline_detect_paste=1
    let g:airline_theme='deep_space'
    let g:airline#extensions#tabline#enabled=1
    let g:airline#extensions#tabline#show_splits = 1 "enable/disable displaying open splits per tab (only when tabs are opened). >
    let g:airline#extensions#tabline#show_buffers = 1 " enable/disable displaying buffers with a single tab
    let g:airline#extensions#tabline#formatter = 'unique_tail'
    let g:airline#extensions#tabline#switch_buffers_and_tabs = 1
    let g:airline_powerline_fonts = 1
"}}}

" Golang settings {{{
" Highlighting
let g:go_highlight_build_constraints = 1
let g:go_highlight_extra_types = 1
let g:go_highlight_fields = 1
let g:go_highlight_functions = 1
let g:go_highlight_methods = 1
let g:go_highlight_operators = 1
let g:go_highlight_structs = 1
let g:go_highlight_types = 1

" Auto import packages
let g:go_fmt_command = "goimports"

" Show type info about variable under cursor
let g:go_auto_type_info = 1
" }}}
