" turn off folding in python-mode
let g:pymode_folding=0
" only allow auto-complete (default will enable docs preview also)¬
" set completeopt=
let g:pymode_rope=0

" configure sorting of imports
let g:vim_isort_python_version = 'python3'
" turn off folding in python-mode

" Start interactive EasyAlign in visual mode (e.g. vipga)
xmap ga <Plug>(EasyAlign)

" Start interactive EasyAlign for a motion/text object (e.g. gaip)
nmap ga <Plug>(EasyAlign)

" Enable showing hidden files
let NERDTreeShowHidden=1

" Select colorscheme
colorscheme Chasing_Logic
highlight ColorColumn ctermbg=Blue
highlight ExtraWhitespace ctermbg=Blue
match ExtraWhitespace /\s\+$/
