" turn off folding in python-mode
let g:pymode_folding=0
" only allow auto-complete (default will enable docs preview also)¬
" set completeopt=
let g:pymode_rope=0

" configure sorting of imports
let g:vim_isort_python_version = 'python3'
" turn off folding in python-mode

" Start interactive EasyAlign in visual mode (e.g. vipga)
xmap ga <Plug>(EasyAlign)

" Start interactive EasyAlign for a motion/text object (e.g. gaip)
nmap ga <Plug>(EasyAlign)

" Enable showing hidden files
let NERDTreeShowHidden=1

" Select colorscheme
colorscheme PaperColor
highlight ColorColumn ctermbg=Blue
highlight ExtraWhitespace ctermbg=Blue
match ExtraWhitespace /\s\+$/

" ultisnip configuration
" Trigger configuration. Do not use <tab> if you use https://github.com/Valloric/YouCompleteMe.
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsJumpForwardTrigger="<c-j>"
let g:UltiSnipsJumpBackwardTrigger="<c-k>"

" If you want :UltiSnipsEdit to split your window.
let g:UltiSnipsEditSplit="vertical"

" Airline configuration {{{
let g:airline_detect_paste=1
let g:airline_theme='deus'
let g:airline#extensions#tabline#enabled=1
let g:airline#extensions#tabline#show_splits = 1 "enable/disable displaying open splits per tab (only when tabs are opened). >
let g:airline#extensions#tabline#show_buffers = 1 " enable/disable displaying buffers with a single tab
let g:airline#extensions#tabline#formatter = 'unique_tail'
let g:airline#extensions#tabline#switch_buffers_and_tabs = 1
let g:airline_powerline_fonts = 1
"}}}
