" Specify a directory for plugins
" - For Neovim: ~/.local/share/nvim/plugged
" - For Vim:    ~/.vim/plugged
call plug#begin(g:pluginpath)

Plug 'rking/ag.vim'                   " ag search
Plug 'Chiel92/vim-autoformat'         " Auto-format code
Plug 'phleet/vim-mercenary'           " Mercurial plugin
Plug 'junegunn/vim-easy-align'        " Align columns
Plug 'tpope/vim-fugitive'             " Git plugin
Plug 'tpope/vim-surround'             " Assist in editing/adding surrounds
Plug 'python-mode/python-mode'        " Python code checking plugin
Plug 'bling/vim-airline'              " Status bar mods
Plug 'vim-airline/vim-airline-themes' " Airline themes
Plug 'wesQ3/vim-windowswap'           " Yank/paste splits
Plug 'fisadev/vim-isort'              " Python import sorting
Plug 'scrooloose/nerdtree'            " Nerdtree file browser
Plug 'severin-lemaignan/vim-minimap'  " Minimap of the code
Plug 'mattn/emmet-vim'                " Emmit HTML shortcuts
Plug 'Valloric/MatchTagAlways'        " Highlight opening and closing tags
Plug 'vim-scripts/loremipsum'         " Text generator
Plug 'trevordmiller/nova-vim'         " Nova color scheme
Plug 'jelera/vim-javascript-syntax'   " More JS syntax support
Plug 'sheerun/vim-polyglot'           " Multi-language syntax plugin
Plug 'alvan/vim-closetag'             " Close html tags automagically
Plug 'tpope/vim-commentary'           " Quick way to add/remove comments
Plug 'noah/vim256-color'              " 256 Colorschemes
Plug 'rafi/awesome-vim-colorschemes'  " Other Colorschemes
Plug 'xolox/vim-misc'                 " Dependency of Colorscheme switcher
Plug 'xolox/vim-colorscheme-switcher' " Colorscheme switcher
Plug 'terryma/vim-multiple-cursors'   " Multiple cursors
Plug 'SirVer/ultisnips'               " (N)vim snippet engine
Plug 'honza/vim-snippets'             " Additional snippets
Plug 'jiangmiao/auto-pairs'           " Smart auto pairing
Plug 'vim-scripts/VisIncr'            " Visually increment visual blocks
Plug 'powerline/powerline'            " Powerline fonts for (n)vim
Plug 'prettier/vim-prettier', {
  \ 'do': 'npm install',
  \ 'for': ['javascript', 'typescript', 'css', 'less', 'scss', 'json', 'graphql', 'markdown'] }

call plug#end()
