! Disable bold font in URxvt / XTerm
URxvt.font: xft:monospace:size=10
URxvt.boldFont: false
URxvt.boldItalicFont: false
! reduce spacing between letters by 1 pixel
URxvt.letterSpace: -1

! === colours ===

! main
URxvt.cursorColor:   #e5e5e5
URxvt.background:    #5d729f
URxvt.foreground:    #34405a

! black
URxvt.color0:        #151520
URxvt.color8:        #3c3c5c
! red
URxvt.color1:        #5e73a0
URxvt.color9:        #82a0df
! green
URxvt.color2:        #5671a0
URxvt.color10:       #789ee1
! yellow
URxvt.color3:        #5b70a0
URxvt.color11:       #7f9cdf
! blue
URxvt.color4:        #4c6ea0
URxvt.color12:       #6c9ce3
! magenta
URxvt.color5:        #7a7fa0
URxvt.color13:       #a5abd8
! cyan
URxvt.color6:        #5471a0
URxvt.color14:       #769fe1
! white
URxvt.color7:        #8581a0
URxvt.color15:       #b2add7

! Handle Transparency after color definitions
URxvt*.transparent:true
URxvt*shading: 20

! Load perl scripts
URxvt.perl-ext-common: resize-font

! resize font script keys
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Always login shell
*loginShell: true

! Always save at least 15000 lines
*saveLines: 15000

! Fix the Alt key URxvt / XTerm
XTerm*metaSendsEscape: true
URxvt*metaSendsEscape: true

! Set as UTF8
XTerm*locale: true
URxvt*locale: true

! Disable URxvt / XTerm scrollbar
URxvt.scrollBar: false
XTerm.scrollBar: false

! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           SFNS Display 12
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #404552
rofi.bw:                             0
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
